<div class="container">
  <div class="main-header text-center">
    <div class="elements">
        
        
        <h2 class="form-signin-heading"><%= @title %></h2>
        <p><%= @info %></p>
        <%= link_to "Login Again!!!", 'login' %>
              
        
        <%= link_to "Registrar en Plex.TV", 'https://plex.tv/users/sign_up' %>
        
         
    </div>
  </div>
</div> <!-- /container -->
